.infobox
  %table.table
    %tbody
      %tr
        %th.snug-nowrap
          Name:
        %td
          = @project.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = @project.description
      - can_edit = current_user.is_allowed?('identity:project_update', {target: {project: @active_project}})
      - if can_edit
        %tr
          %th.snug-nowrap
            Project:
          %td
            = link_to plugin('identity').edit_project_path({load_project_root: true}), data: {modal: true, toggle: "tooltip", placement: "left"} do
              Edit
      - if services.available?(:identity,:elektron_prodel) && current_user.is_allowed?("identity:project_delete", {target: {project: @active_project}})
        %tr
          %th.snug-nowrap
            Delete Project:
          %td
            = javascript_include_tag :identity_prodel_widget, data: {base_url: plugin('identity').root_path}


%h4.action-heading
  Sub Projects
  - if current_user.is_allowed?('identity:project_create',{project: {domain_id: @scoped_domain_id}})
    = link_to plugin('identity').domains_create_project_path(parent_id:@project_id, parent_name:@project.name), class: "header-action" , title: "Create new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
      %i.fa.fa-plus-square-o
  - else
    = link_to plugin('identity').projects_request_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
      %i.fa.fa-plus-square-o

%div{data: {react_auth_projects: true, root: @scoped_project_id, title: 'false' } }

- unless @sharding_enabled || @project.name == "cloud_admin"
  .bs-callout.bs-callout-warning.bs-callout-emphasize.u-margin-top-normal
    Not all resource pools are enabled. 
    - if current_user.is_allowed?("identity:project_update", {target: {project: @active_project}})
      To get access to additional resources click
      = link_to plugin('identity').project_enable_sharding_path(), title: "Enable Resource Pooling", data: {modal: true, toggle: "tooltip", placement: "left"}  do
        %i.fa.fa-arrow-right.fa-fw
        here

-# BANNER
- unless @scoped_domain_name.start_with?("iaas")
  - if Time.current <= Time.zone.parse("2025-12-19 23:59:59")
    .bs-callout.bs-callout-info-cta.bs-callout-emphasize.u-margin-top-normal
      = image_tag "sci_logo_external_white.svg", alt: "SAP Cloud Infrastructure", class: "bs-callout-image"
      %p
        Your feedback is essential to shaping the future of the SAP Cloud Infrastructure (SCI) platform. This short, confidential survey will help us improve SCI to better meet your needs - let's get started! 
      %a{href: "https://employeeexperience.surveys.sap.com/jfe/form/SV_6DtUh3mnElq4i3Q", target: "_blank"} Click here to go to survey

- unless @domain_config&.feature_hidden?('new_dashboard_banner')
  .switcher-notice.switcher-notice--big.switcher-border-gradient.switcher-border-gradient--rounded-5
    .switcher-notice__header
      %p.switcher-notice__body-text.switcher-notice__body-text--bold New Dashboard in Development
      %svg.switcher-notice__rocket-icon{xmlns: "http://www.w3.org/2000/svg", height: "21", width: "21", viewBox: "0 -960 960 960", "aria-hidden": "true"}
        %path{d: "m98-537 168-168q14-14 33-20t39-2l52 11q-54 64-85 116t-60 126L98-537Zm205 91q23-72 62.5-136T461-702q88-88 201-131.5T873-860q17 98-26 211T716-448q-55 55-120 95.5T459-289L303-446Zm332.5-97q33.5 0 56.5-23t23-56.5q0-33.5-23-56.5t-56.5-23q-33.5 0-56.5 23t-23 56.5q0 33.5 23 56.5t56.5 23ZM551-85l-64-147q74-29 126.5-60T730-377l10 52q4 20-2 39.5T718-252L551-85ZM162-318q35-35 85-35.5t85 34.5q35 35 35 85t-35 85q-25 25-83.5 43T87-74q14-103 32-161t43-83Z"}
    %p.switcher-notice__body-text.switcher-notice__body-text--spaced
      We are currently working on Aurora, an all-new dashboard.
    %p.switcher-notice__body-text.switcher-notice__body-text--spaced
      Starting with S3-compliant Object Storage (Ceph) in early access, features marked with a rocket icon can be previewed there.
    %a.switcher-btn.switcher-btn--full{href: "https://dashboard-aurora.#{current_region}.cloud.sap/projects/#{@scoped_project_id}", onclick: track_outbound_navigation_js("identity_project_banner"), data: {turbo: false}}
      Have a Look

