.infobox
  %table.table
    %tbody
      %tr
        %th.snug-nowrap
          Name:
        %td
          = @project.name
      %tr
        %th.snug-nowrap
          Description:
        %td
          = @project.description
      - can_edit = current_user.is_allowed?('identity:project_update', {target: {project: @active_project}})
      - if can_edit
        %tr
          %th.snug-nowrap
            Project:
          %td
            = link_to plugin('identity').edit_project_path({load_project_root: true}), data: {modal: true, toggle: "tooltip", placement: "left"} do
              Edit
      - if services.available?(:identity,:elektron_prodel) && current_user.is_allowed?("identity:project_delete", {target: {project: @active_project}})
        %tr
          %th.snug-nowrap
            Delete Project:
          %td
            = javascript_include_tag :identity_prodel_widget, data: {base_url: plugin('identity').root_path}


%h4.action-heading
  Sub Projects
  - if current_user.is_allowed?('identity:project_create',{project: {domain_id: @scoped_domain_id}})
    = link_to plugin('identity').domains_create_project_path(parent_id:@project_id, parent_name:@project.name), class: "header-action" , title: "Create new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
      %i.fa.fa-plus-square-o
  - else
    = link_to plugin('identity').projects_request_project_path(), class: "header-action" , title: "Request new Subproject", data: {modal: true, toggle: "tooltip", placement: "left"} do
      %i.fa.fa-plus-square-o

%div{data: {react_auth_projects: true, root: @scoped_project_id, title: 'false' } }

- unless @sharding_enabled || @project.name == "cloud_admin"
  .bs-callout.bs-callout-warning.bs-callout-emphasize.u-margin-top-normal
    Not all resource pools are enabled. 
    - if current_user.is_allowed?("identity:project_update", {target: {project: @active_project}})
      To get access to additional resources click
      = link_to plugin('identity').project_enable_sharding_path(), title: "Enable Resource Pooling", data: {modal: true, toggle: "tooltip", placement: "left"}  do
        %i.fa.fa-arrow-right.fa-fw
        here

-# BANNER
- unless @scoped_domain_name.start_with?("iaas")
  - if Time.current <= Time.zone.parse("2025-12-19 23:59:59")
    .bs-callout.bs-callout-info-cta.bs-callout-emphasize.u-margin-top-normal
      = image_tag "sci_logo_external_white.svg", alt: "SAP Cloud Infrastructure", class: "bs-callout-image"
      %p
        Your feedback is essential to shaping the future of the SAP Cloud Infrastructure (SCI) platform. This short, confidential survey will help us improve SCI to better meet your needs - let's get started! 
      %a{href: "https://employeeexperience.surveys.sap.com/jfe/form/SV_6DtUh3mnElq4i3Q", target: "_blank"} Click here to go to survey
