.well
  %p
    If user/password authentication is not possible you can use Application Credentials instead.
    %br
    First, create an application credential using the web interface for  
    = link_to "App Credentials", plugin('identity').app_credentials_path 
    or (if possible) via the OpenStack CLI:
    %code
      openstack application credential create my-app-cred
    %p 
      Save the returned secret, and set the following environment variables in your terminal:
    %pre
      :preserve
        OS_AUTH_TYPE=v3applicationcredential
        OS_AUTH_URL=#{@identity_url}
        OS_IDENTITY_API_VERSION=3
        OS_REGION_NAME="#{current_region}"
        OS_APPLICATION_CREDENTIAL_ID="Your application credential ID"
        OS_APPLICATION_CREDENTIAL_SECRET="Your application credential secret"
    
    After sourcing, the environment variables are set, you can run OpenStack CLI commands (e.g. 
    %code
      openstack server list, openstack image list
    )

    %p
      %p
        You can also download the Application Credential RC file and source it. 

    .openrc
      =link_to plugin('identity').projects_download_app_cred_path , class:'btn btn-outline' do
        %span.fa.fa-cloud-download.fa-fw
        Download Application Credential RC File
      &nbsp;
      =link_to plugin('identity').projects_download_app_cred_ps1_path , class:'btn btn-outline' do
        %span.fa.fa-cloud-download.fa-fw
        Download Application Credential RC File for Windows PowerShell
      &nbsp;

%table.table.datatable
  %tbody
    %tr
      %th OS_AUTH_URL
      %td= @identity_url
      %tr
        %th OS_AUTH_TYPE
        %td v3applicationcredential
      %tr
        %th OS_IDENTITY_API_VERSION | OS_AUTH_VERSION
        %td= '3'
      %tr
        %th OS_REGION_NAME
        %td= current_region
      %tr
        %th OS_APPLICATION_CREDENTIAL_ID
        %td= "<Your application credential ID>"
      %tr
        %th OS_APPLICATION_CREDENTIAL_SECRET
        %td= "<Your application credential secret>"