- content_for :main_toolbar do
  Object Storage


- if params[:service_name] == "ceph"

  - unless @domain_config&.feature_hidden?('ceph_s3')
    .switcher-banner.switcher-border-gradient.margin-bottom
      .switcher-banner__icon
        %svg{xmlns: "http://www.w3.org/2000/svg", height: "40", width: "40", viewBox: "0 -960 960 960", "aria-hidden": "true"}
          %defs
            %linearGradient{id: "rocketGradient", x1: "0%", y1: "0%", x2: "100%", y2: "100%"}
              %stop{offset: "0%", style: "stop-color:#6637cd"}
              %stop{offset: "100%", style: "stop-color:#b8149d"}
          %path{fill: "url(#rocketGradient)", d: "m98-537 168-168q14-14 33-20t39-2l52 11q-54 64-85 116t-60 126L98-537Zm205 91q23-72 62.5-136T461-702q88-88 201-131.5T873-860q17 98-26 211T716-448q-55 55-120 95.5T459-289L303-446Zm332.5-97q33.5 0 56.5-23t23-56.5q0-33.5-23-56.5t-56.5-23q-33.5 0-56.5 23t-23 56.5q0 33.5 23 56.5t56.5 23ZM551-85l-64-147q74-29 126.5-60T730-377l10 52q4 20-2 39.5T718-252L551-85ZM162-318q35-35 85-35.5t85 34.5q35 35 35 85t-35 85q-25 25-83.5 43T87-74q14-103 32-161t43-83Z"}
      .switcher-banner__text
        %span.switcher-banner__title Want S3-compliant Ceph?
        %span.switcher-banner__body For a preview on fully S3-compatible access to Ceph Object Storage, check out the early-access Ceph Object Storage feature in our all-new dashboard Aurora.
      .switcher-banner__button-wrap
        %a.switcher-btn{href: "https://dashboard-aurora.#{current_region}.cloud.sap/projects/#{@scoped_project_id}/storage/ceph/containers"}
          Have a Peek
      %p= " "    

  .bs-callout.bs-callout-info
    %h5 Note for Ceph
    %p
      This view uses the Swift API to display bucket contents and basic object storage information. While suitable
      for standard operations, some S3-specific features, such as bucket versioning, object versions, and delete
      markers are not fully visible or manageable through the dashboard.
    %p
      Buckets with S3 versioning enabled cannot be deleted using the dashboard and may only be fully inspected or
      managed via S3 CLI tools. This limitation is due to fundamental differences between the Swift and S3 APIs in
      Ceph RGW. 

-# base_name: is used by react router to determine the base path for the app
-# service_endpoint: is used by the app to determine the endpoint to use in api client
-# project_path: is used by the app to determine the project path to use in api client
-# resources_path: is used by the app to link to the resources app
= javascript_include_tag "object_storage_app_widget", data: {                    |
  base_name: plugin('object_storage').service_path(@service_name),               |
  service_endpoint:  services.os_api.service("#{@service_name}").endpoint_url,   |
  project_path: plugin('identity').project_path,                                 |
  resources_path: plugin('resources').v2_project_path}
